body, html {
height: 100%;
min-height: 100%;
color: white;
}
body {
   background: url(/img/moon-intro.jpg) 0 20%;
   line-height: 1.3;
}
h1 {
   color: #fff;
   text-align: center;
   margin: 0 0 1em;
   text-shadow: 0 0 20px #fff;
}

#wrapper {
   margin: 0 auto;
   padding-top: 100px;
}
form {
   width: 320px;
   margin: 0 auto;
}
input {
   outline: 4px solid rgba(200, 200, 200, 0.5);
   display: block;
   width: 300px;
   padding: 0.5em 0.5em;
   margin-bottom: 1em;
   color: #555;
   
}
form#login div p {
   color: #fff;
   float: left;
   margin-top: 0;
}
form#login div p a {
   color: #fff;
}
form#login input[type=submit] {
   float: right;
   width: 100px;
   line-height: 30px;
   font-size: 18px;
   text-transform: uppercase;
   background: #000;
   color: #fff;
   box-shadow: 0px 0px 10px #fff;
   border: 0;
   border-radius: 3px;
   outline: 0;
   padding: 0.3em 0.5em;
   transition: 0.2s background;
}
form#login input[type=submit]:hover {
   background: #222;
   
} 
